<%- layout('layouts/main.ejs') %>
<form action="/signup" method="post">
  <input type="email" name="email" value="" placeholder="Insert Email">
  <input type="password" name="password" value="" placeholder="Insert Password">

  <button type="submit" name="button">Signup</button>

</form>
