<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
            <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeHolder="Nombre">
                </div>
                <div class="input-field col s12">
                  <input type="text" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeHolder="Posición">
                </div>
                <div class="input-field col s12">
                  <input type="text" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeHolder="Oficina">
                </div>
                <div class="input-field col s12">
                  <input type="number" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeHolder="Salario">
                </div>
                <div class="card-action">
                  <div class="input-field col s12">
                    <button class="btn" style="margin-left: 2px;">Grabar</button>
                    <button class="btn right" (click)="resetForm(employeeForm)">Limpiar</button>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col s7">
      <table>
        <thead>
          <th>Nombre</th>
          <th>Posicion</th>
          <th>Oficina</th>
          <th>Salario</th>
          <th>Operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.position}}<td>
            <td>{{ employee.office }}</td>
            <td>{{ employee.salary }}</td>
            <td>
              <a (click)="editEmployee(employee)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteEmployee(employee)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



